<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="book">
 	<insert id="insertBook" parameterType="kr.co.englishlibrary.book.service.Book">
 		INSERT INTO book(
 			library_id,
 			genre_no,
 			book_name,
 			book_author,
 			book_publisher
 		) values (
 			#{libraryId},
 			#{genreNo},
 			#{bookName},
 			#{bookAuthor},
 			#{bookPublisher}
 		)
 	</insert>
</mapper>