<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="book">
 	<insert id="insertBook" parameterType="kr.co.englishlibrary.book.service.Book">
 		INSERT INTO book(
 			library_id,
 			genre_no,
 			book_name,
 			book_author,
 			book_publisher
 		) values (
 			#{libraryId},
 			#{genreNo},
 			#{bookName},
 			#{bookAuthor},
 			#{bookPublisher}
 		)
 	</insert>
 	<select id="selectOneBookByCode" parameterType="String" resultType="kr.co.englishlibrary.book.service.Book">
 		SELECT
 			book_code as bookCode,
 			book_name as bookName,
 			book_author as bookAuthor,
 			genre_no as genreNo,
 			book_publisher as bookPublisher,
 			state_no as stateNo,
 			book_totalcount as bookTotalCount,
 			book_firstday as bookFirstDay
 		FROM book
 		WHERE book_code = #{bookCode}
 	</select>
 	<update id="updateBookState" parameterType="Map">
 		UPDATE book SET
 			state_no = #{bookState}
		WHERE book_code = #{bookCode}
 	</update>
 	<select id="selectBookState" parameterType="String" resultType="int">
 		SELECT
 			state_no
		FROM book
		WHERE book_code=#{bookCode}
 	</select>
	<update id="updateBookFirstDay" parameterType="String">
		UPDATE book SET 
			book_firstday = sysdate()
		WHERE book_code = #{bookCode}
	</update>
	<update id="updateBookTotalCount" parameterType="Map">
		UPDATE book SET 
			book_totalcount = #{bookTotalCount}
		WHERE book_code = #{bookCode}
	</update>
	<update id="updateBookTotalDay" parameterType="Map">
		UPDATE book SET 
			book_totalday = #{bookTotalDay}
		WHERE book_code = #{bookCode}
	</update>
</mapper>