<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">
	<select id="selectAllGenre" resultType="kr.co.englishlibrary.services.Genre">
		SELECT
			genre_no as genreNo,
			genre_name as genreName
		FROM genre
	</select>
	<select id="selectAllLocal" resultType="kr.co.englishlibrary.services.Local">
		SELECT
			local_no as localNo,
			local_name as localName
		FROM local
	</select>
	<insert id="disposalBook" parameterType="kr.co.englishlibrary.services.Disposal">
		INSERT INTO disposal(
			book_code,
			disposal_bookname,
			disposal_author,
			genre_no,
			disposal_publisher,
			disposal_registerday
		) VALUES (
			#{bookCode},
			#{disposalBookName},
			#{disposalAuthor},
			#{genreNo},
			#{disposalPublisher},
			sysdate()
		)
	</insert>
	<select id="selectAllLevel" resultType="kr.co.englishlibrary.services.MemberLevel">
		SELECT 
			memberlevel_no as memberLevelNo,
			memberlevel_name as memberLevelName,
			price
		FROM memberlevel
	</select>
	<insert id="insertMember" parameterType="kr.co.englishlibrary.services.Member">
		INSERT INTO member(
			member_name,
			member_phone,
			memberlevel_no
		) VALUES (
			#{memberName},
			#{memberPhone},
			#{memberLevelNo}
		)
	</insert>
	<select id="selectOneMember" parameterType="int" resultType="kr.co.englishlibrary.services.Member">
		SELECT
			member_id as memberId
		FROM member
		WHERE member_id = #{memberId}
	</select>
</mapper>
